<!DOCTYPE html>
<html>
  <head>
    <title>Parcial 1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p class="text-center">Doy mi palabra que he realizado esta actividad con integridad académica.</p>
  </body>
</html>
